%h1 タスク一覧

%table
  %tr
    %th Name
    %th Completed at
    %th Point
    %th User
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.name
      %td= task.completed_at
      %td= task.point
      %td= link_to task.user.name, user_path(task.user)
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Task', new_task_path
